html, body {height:100%;}

.container {
        position: absolute;
        background-color: white;
        width: 75%;
        top: 25%;
        height: auto;
        margin-left: 12.5%;
        margin-right: auto;
        border-radius: 3px;
        color: #767676;
}

table {margin:10px 0px 20px 0px;}

.section {
        width: 20%;
        padding-left: 5%;
}
.content{padding:5px;}

ul { list-style-type: none; }

.content span {
        font-weight: normal;
        font-size: 18px;
}

.divider {
        position: absolute;
        width: 90%;
        left:5%;
        height:1px;
        border-top: solid gray 1px;
}
