html, body {height:100%;}

.container {
        position: absolute;
        background-color: white;
        width: 75%;
        top: 25%;
        height: auto;
        margin-left: 12.5%;
        margin-right: auto;
        border-radius: 3px;
        color: #767676;
}

.area {
        position: relative;
        display:block;
        height:auto;
}

.area .section {
        position: absolute;
        display: inline-block;
        width: 20%;
        height: 200px;
        float: left;
}
.area .section h3 {margin: 10% 0px 0px 5%; font-weight: lighter; }

.area .content {
        display: inline-block;
        width: 70%;
        height: 100%;
        float:right;
        padding: 20px 10px 10px 15px
}

ul { list-style-type: none; }

.area .content span {
        font-weight: normal;
        font-size: 18px;
}

.divider {
        position: absolute;
        width: 90%;
        left:5%;
        height:1px;
        border-top: solid gray 1px;
}
